@import url(https://fonts.googleapis.com/css?family=Raleway:500,700);

$primary-font: 'Raleway', sans-serif;

$background-color: #E8E8E7;
$white-color: #FFFFFF;
$primary-color: #8BCC98;

$title-color: $white-color;

@mixin principal-conf($margin, $width)
{
   .principal
   {
       margin-left: $margin;
       width: $width;
   }
}

@mixin title-conf($title-font-size, $sub-font-size)
{
    .title
    {
        font-size: $title-font-size;

     .subtitle
     {
         font-size: $sub-font-size;
     }
  }
}

@mixin inside-text-conf($margin-top, $margin-side)
{
   .inside-text
   {
     margin: $margin-top $margin-side 0 $margin-side;
     padding-left: 2%;
     padding-right: 2%;
   }
}

@mixin hr-conf($height)
{
   hr { height: $height; }
}

@mixin font-conf($header-size, $font-size, $font-indent)
{
   .header1 { font-size: $header-size; }
   p
   {
       font-size: $font-size;
       text-indent: $font-indent;
   }
}

*
{
   font-family: $primary-font;
   text-rendering: optimizeLegibility;
}

.principal
{
   background-color: $background-color;
   margin-top: 60px;

}

.inside-text
{
   background-color: $white-color;
}


.title
{
   margin-top: 15%;
   margin-left: 25%;
   height: auto;
   width: auto;
   border-color: $white-color;
   border-width: 2px;
   border-style: solid;
   position: absolute;
   color: $title-color;
   text-align: center;

   .subtitle
   {
       display: block;
       text-transform: uppercase;
   }
}

hr
{
   background-color: $primary-color;
   margin: 0 0 0 0;
   border-width: 0;
}

p
{
  font-weight: 500;
}

.header1
{
  display: block;
  line-height: 3;
  text-indent: 20px;
  font-weight: 700;
}

img
{
   width: 100%;
   height: auto;
}

/*Small-mobile*/
@media screen and (min-width: 20em)
{
  @include principal-conf(5%, 90%);
  @include title-conf(35px, 15px);
  @include inside-text-conf(3%, 20%);
  @include hr-conf(8px);
  @include font-conf(15px, 12px, 50px);
}

/*Medium - Tablet*/
@media screen and (min-width: 40em)
{
   @include principal-conf(7%, 80%);
   @include title-conf(50px, 20px);
   @include inside-text-conf(2%, 20%);
   @include hr-conf(13px);
   @include font-conf(17px, 15px, 75px);
}

/*large - Desktop*/
@media  screen and (min-width: 64em)
{
   @include principal-conf(13%, 75%);
   @include title-conf(70px, 30px);
   @include inside-text-conf(3%, 30%);
   @include hr-conf(20px);
   @include font-conf(22px, 17px, 100px);
}
